p{
    color: whitesmoke;
    text-align: center; 
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Roboto, sans-serif;
    margin: 0;
    background: linear-gradient(400deg, rgb(107, 142, 35), rgb(173, 209, 14));
    text-align: center;
}