body { margin: 0; overflow: hidden; } /* Rimuove i bordi bianchi */

#gameCanvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

#colorBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  cursor: pointer;
}